* {
  box-sizing: border-box;
}

body {
  width: 70%;
  margin: 50px auto;
  background: #E3AD73;
}

.testata {
  height: 250px;
  background-color: #333;
  border: 5px solid #fff;
}

.menu {
  height: 50px;
  background-color: #555;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Togliere il tag HEIGHT quando si inserisce il contenuto*/
/* COLONNA SINISTRA */
.colonna-sinistra {
  float: left;
  width: 25%;
  height: 450px;
  background-color: #bbb;
  margin-top: 10px;
}

/* COLONNA CENTRALE */
.colonna-centrale {
  float: left;
  width: 48.65%;
  height: 350px;
  background-color: #aaa;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

/* COLONNA DESTRA */
.colonna-destra {
  float: left;
  width: 25%;
}

.colonna-destra-uno {
  height: 380px;
  background-color: #999;
  margin-top: 10px;
}

.colonna-destra-due {
  height: 380px;
  background-color: #999;
  margin-top: 10px;
}

.colonna-destra-tre {
  height: 380px;
  background-color: #999;
  margin-top: 10px;
}

.fondo-pagina {
  height: 70px;
  background-color: #ccc;
  margin-top: 10px;
}
