* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 60%;
  margin: 50px auto;
  background-image: url('../image/background-pagina.png');
  background-position: center;
  /* background-size: cover; */
}

#font-testata {
  font-family: 'Montserrat', sans-serif;
}

 .testata {
   margin-bottom: 15px;
 }

.immagine-testata {
  position: relative;
  height: 360px;
  border: 5px solid #fff;
  background-image: url('../image/background-banner.jpeg');
  background-position: center;
  background-size: cover;
}

.logo-testata {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-testata > img {
  width: 70%;
  height: 70%;
}

.testo-logo {
  color: #fff;
}

.menu {
  /* height: 50px; */
  text-align: center;
  background-color: #666;
  opacity: 0.8;
  line-height: 50px;
  /* opacity: 0.5; */
}

.testo-menu li{
  display: inline-block;
  list-style: none;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
}

/* FONT DELLA SEZIONE */
#font-pricipale {
  font-family: 'Roboto', sans-serif;
}


.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Togliere il tag HEIGHT quando si inserisce il contenuto*/
/* COLONNA SINISTRA */
.colonna-sinistra {
  float: left;
  width: 20%;
  /* height: 450px; */
  background-color: #fff;
  border-radius: 8px;
  /* padding-right: 15px; */
}

.testo-cln-sinistra {
  padding: 0 10px;
  font-size: 23px;
}

.titolo-cln-sinistra {
  display: inline-block;
  font-size: 27px;
}

.titolo-cln-sinistra:nth-child(3) {
  margin-bottom: 15px;
  margin-left: 35px;
}

.icona {
  color: rgba(255, 0, 0, 0.5);
  font-size: 35px;
  margin-top: 5px;
}

.argomento-cln-sinistra > p {
  margin-bottom: 15px;
  color: green;
  font-size: 20px;
}

/* COLONNA CENTRALE */
.colonna-centrale {
  float: left;
  width: 50%;
  /* height: 350px; */
  background-color: #fff;
  border-radius: 8px;
  /* padding: 0 15px; */
  margin-left: 5%;
  margin-right: 5%;
}

.testo-cln-centrale {
  padding: 30px 20px;
  font-size: 20px;
  line-height: 35px;
}

.titolo-testo-cln-centrale {
  margin-bottom: 25px;
  font-size: 27px;
}

/* COLONNA DESTRA */
.colonna-destra {
  float: left;
  width: 20%;
  /* padding-left: 15px; */
}
/* PRIMA COLONNA DESTRA */
.colonna-destra-uno {
  /* height: 380px; */
  line-height: 35px;
  background-color: #fff;
  border-radius: 8px;
}

.testo-cln-dx-uno {
  padding: 30px 20px;
  font-size: 20px;
  margin: 0 10px;
}

.titolo-cln-destra-uno {
  margin-bottom: 25px;
  font-size: 27px;
}

/* SECONDA COLONNA DESTRA */
.colonna-destra-due {
  /* height: 380px; */
  background-color: #fff;
  border-radius: 8px;
  margin-top: 35px;
}

.testo-cln-dx-due {
  line-height: 35px;
  padding: 30px 20px;
  font-size: 20px;
  margin: 0 10px;
}

.titolo-cln-destra-due {
  margin-bottom: 25px;
  font-size: 27px;
}

/* TERZA COLONNA DESTRA */
.colonna-destra-tre {
  /* height: 380px; */
  background-color: #fff;
  border-radius: 8px;
  margin-top: 35px;
}

.testo-cln-dx-tre {
  line-height: 35px;
  padding: 30px 20px;
  font-size: 20px;
  margin: 0 10px;
}

.titolo-cln-destra-tre {
  margin-bottom: 25px;
  font-size: 27px;
}

/* FONDO PAGINA */
.spazio-testo-footer {
  /* height: 25px; */
  line-height: 30px;
  border-bottom: 2px solid #ccc;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 35px;
}

.testo-footer {
  text-align: center;
  font-style: italic;
  opacity: 0.25;
  font-size: 20px;
}

.immagini-footer {
  height: 100px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.colonna-footer-uno {
  float: left;
  width: 33.33%;
}

.colonna-footer-due {
  float: left;
  width: 33.33%;
}

.colonna-footer-tre {
  float: left;
  width: 33.33%;
}

.colonne-footer > i {
  text-align: center;
  font-size: 50px;
  margin-top: 25px;
  opacity: 0.25;
}
